@import 'reset.css';
@import 'fonts.css';

* {
    box-sizing: border-box;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

@page { 
    size: auto;
    margin: 0 0 0 0;  
} 

:root {
    --aside-width: 80px;
    --timeline-line-color: rgba(0, 0, 0, 0.1);
}

html { min-height: 100vh; font-size: 9pt; }
body { position: relative; font-family: Montserrat; font-weight: 300; min-height: 100vh;  line-height: 1.2em;}

body > aside {
    background: #010101;
    color: #fff;
    
    width: 100vh;
    height: var(--aside-width);

    transform-origin: top left;
    transform: rotate(-90deg);

    position: fixed;
    top: 100%;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2rem;
}
aside h1 { display: block; font-size: 4rem; text-transform: uppercase; font-weight: 600; margin: 0; }
aside p { margin-bottom: .1em; font-size: .9rem; }
aside p i { width: 1.6rem; text-align: center; opacity: .6; }
aside .badges { text-align: center; }

body > main { margin-left: var(--aside-width); padding: 2rem; }

p { margin-bottom: 1rem; }
h1 {font-size: 2.4rem; font-weight: 600; text-transform: uppercase; margin-bottom: 1rem; margin-top: 1em;}
h2 { font-size: 1.8rem; font-weight: 600; text-transform: uppercase; margin-bottom: 1rem;}
h3 { font-weight: 600; }
h4 { font-weight: 600; }

p.lead {text-transform: uppercase; opacity: .6;}

strong {font-weight: 600;}
address {font-family: Georgia, serif; font-style: italic; }
body > main h2 {color: #fff; padding: 2rem 3rem; background: #383838; }
body > main h2 i {transform: scale(2.4);opacity: .4;}

section#parcours .timeline address { color: #e8c100; margin-bottom: 1em; }
section#parcours .timeline :last-child { margin-bottom: 0; }
section#parcours .timeline h3 { font-size: 1.2rem; }
section#parcours .timeline main h4 { margin: .8em 0 .4em; }
section#parcours .timeline main h4 small { display: block; opacity: .4; font-size: .8em; font-weight: 200; margin-top: -2pt; }
section#parcours .timeline main p { margin: .3em 0; }
section#parcours .timeline main ul { margin: 0 0 .2em 0; }
/* section#parcours .timeline main li::before { content: '- ' } */
section#parcours .timeline main li { margin: 0 0 .2em 0; }
section#parcours .timeline main li p { opacity: .6; }

section#parcours .timeline-large { padding-bottom: 2em; }
section#parcours .timeline-large h3 { font-size: 1.8rem; line-height: 1em; color: black; }
section#parcours .timeline-large::before { background: black; }

.timeline { margin-left: 5em; }
.timeline .timeline-job {border-left: 3pt solid var(--timeline-line-color); position: relative; padding: 0 0 1.4em 1.4em;}
.timeline .timeline-job::before {content: ''; display: block; height: 10pt; width: 10pt; border-radius: 50%; background: gray; border: 5pt solid white; position: absolute; left: -11pt; top: 0;}
.timeline .timeline-job:last-child {border-left: 4pt dotted var(--timeline-line-color);}
.timeline .timeline-job time {position: absolute; display: block; font-weight: 600; opacity: .4; width: 60px; top: 10pt; left: -80px; text-align: right; line-height: 0;}
.timeline .timeline-future { border-left: 4pt dotted var(--timeline-line-color); height: 2em; }
.timeline .timeline-future::before {display: none;}

.timeline .timeline-detail { display: block; color: #f00; }

.badge {
    display: inline-block;
    background-color: rgba(128, 128, 128, .5);
    padding: .1em .7em;
    border-radius: .4em;
    font-size: .6em;
    margin-bottom: .2em;
    text-transform: uppercase;
}

.badge i { width: 1.6em; text-align: left; opacity: .4; color: pink; }